<!DOCTYPE html>
<html lang="pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h2>Aumento individual</h2>

    <form action="{{url_for('aplicar_aumento_individual')}}" method="POST">
        <label for="">Taxa de aumento:</label>
        <input type="text" name="taxa_aumento" required><br>
        <table>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Cargo</th>
            </tr>
            <tr>
                <td><input type="checkbox" id="checkbox_todos"></td>
                <td><label for="">Todos</label></td>
            </tr>
            {% for func in funcionarios: %}
                <tr>
                    <td><input type="checkbox" name="funcionarios_aumento" value="{{func.nome}}" id="{{func.nome}}"></td>
                    <td><label for="{{func.nome}}">{{func.nome}}</label></td>
                    <td><label for="{{func.nome}}">{{func.cargo}}</label></td>
                </tr>
            {%endfor%}
        </table>

        <button type="submit">Aplicar</button>
        
    </form>
    <p>{{msg_individual}}</p>

    <a href="{{url_for('get_menu')}}">Voltar</a>
</body>
<script>
    const checkbox_todos = document.getElementById("checkbox_todos")
    checkbox_todos.addEventListener("change", () => {
        checkbox_usuarios = document.querySelectorAll("input[type=checkbox]")
        if(checkbox_todos.checked){
            checkbox_usuarios.forEach(usuarios => { 
                usuarios.checked = true
            });
        }else{
            checkbox_usuarios.forEach(usuarios => { 
                usuarios.checked = false
            });
        }
    })
</script>
</html>