<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('editar_usuario', nome= usuario.nome)}}" method="POST">
        <label for="">Nome: </label>
        <input type="text" name="nome" placeholder={{usuario.nome}}><br>

        <label for="">Login: </label>
        <input type="text" name="login" placeholder={{usuario.login}}><br>

        <label for="">Cargo</label>
        <select name="tipo" id="" aria-placeholder={{usuario.cargo}}>
            <option value="gerente">Gerente</option>
            <option value="caixa">Caixa</option>
            <option value="serviços gerais">Serviços gerais</option>
        </select><br>

        <label for="">Salário: </label>
        <input type="text" name="salario" placeholder={{usuario.salario}}><br>

        <label for="">Ano de admissão: </label>
        <input type="text" name="admissao" placeholder={{usuario.anoAdmissao}}><br>
        
        <label for="">Senha: </label>
        <input type="text" name="senha">

        <h4>Para confirmar Digite a senha</h4>
        <label for="">Senha: </label>
        <input type="password" name="senha_confirmar"><br>

        <button type="submit">Cadastrar</button>
        <p>{{mensagem}}</p>
    </form>

    <a href="{{url_for('listar_usuarios')}}">Voltar</a>
</body>
</html>