<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if funcionario:%}
        <form action="{{url_for('editar_usuario', id= funcionario[0])}}" method="POST">
            <label for="">Nome: </label>
            <input type="text" name="nome" placeholder={{funcionario[1]}}><br>

            <label for="">Login: </label>
            <input type="text" name="login" placeholder={{funcionario[2]}}><br>

            <label for="">Cargo</label>
            <select name="tipo" id="">
                <option value="gerente">Gerente</option>
                <option value="caixa">Caixa</option>
                <option value="serviços gerais">Serviços gerais</option>
            </select><br>

            <label for="">Salário: </label>
            <input type="text" name="salario" placeholder={{funcionario[5]}}><br>

            <label for="">Ano de admissão: </label>
            <input type="text" name="admissao" placeholder={{funcionario[4]}}><br>
            
            <label for="">Senha: </label>
            <input type="password" name="senha">

            <h4>Para confirmar Digite a senha</h4>
            <label for="">Senha: </label>
            <input type="password" name="senha_confirmar" required><br>

            <button type="submit">Editar</button>
        </form>
        {%endif%}
        <p>{{mensagem}}</p>

    <a href="{{url_for('listar_usuarios')}}">Voltar</a>
</body>
<script>
    lista_options = document.querySelectorAll("option")
    cargo = {{ funcionario[3] | default('') | tojson }}
    console.log(cargo)
    lista_options.forEach(opt => {
        if(opt.value == cargo){
            opt.selected = true
        }
    });
</script>
</html>