<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listar usuários</h1>
    <form action="/listar/usuarios/cargo" method="post">
        <select name="cargo" id="">
            <option value="">Todos</option>
            <option value="gerente">gerente</option>
            <option value="caixa">caixa</option>
            <option value="serviços gerais">serviço gerais</option>
        </select>

        <button type="submit">Filtrar</button>
    </form>
    <form action="/listar/usuario/nome" method="POST">
        <input type="text" name="nome" required>
        <button type="submit">Buscar</button>
    </form>
    <p> {{msg}} </p>
    <table>
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>Cargo</th>
            <th>Ano de admissão</th>
            <th>salario</th>
        </tr>
        {% for func in funcionarios:%}
            <tr>
                <td>{{func[1]}}</td>
                <td>{{func[2]}}</td>
                <td>{{func[3]}}</td>
                <td>{{func[4]}}</td>
                <td>{{func[5]}}</td>
                <td><a href="/usuario/editar/{{func[0]}}">Editar</a></td>
                <td><a href="/usuario/remover/{{func[0]}}">Remover</a></td>
            </tr>
        {%endfor%}
    </table>

    <a href="{{ url_for('get_menu')}}">Voltar</a>
</body>
</html>