<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem vindo {{user[1]}}</h1>
    <p>Cargo: {{user[3]}}</p>
    
    <a href="{{url_for('listar_usuarios')}}" >Listar Usuários</a><br>
    <a href="{{url_for('usuarios_estatisticas')}}">Estatísticas</a><br>
    <a href="{{url_for('aumento_individual')}}">Aumento salarial individual</a><br>
    <a href="{{ url_for('aumento_setor') }}">Aumento salarial por setor</a><br>
</body>
</html>